{% extends 'base.html.twig' %}

{% block title %}Season{% endblock %}

{% block body %}
    <h1>Season</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ season.id }}</td>
            </tr>
            <tr>
                <th>Year</th>
                <td>{{ season.year }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ season.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('season_index') }}"><button type="button" class="btn btn-secondary">Back to list</button></a>

    <a href="{{ path('season_edit', {'id': season.id}) }}"><button type="button" class="btn btn-secondary">edit</button></a>

    {{ include('season/_delete_form.html.twig') }}
{% endblock %}
